Automacao_Residencial/Interruptor_WiFi_1_canal/NODE_RED/Interruptor_Node_RED.json
[
    {
        "id": "32e6db781b3172bb",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "781172e4c9425c71",
        "type": "mqtt out",
        "z": "32e6db781b3172bb",
        "name": "",
        "topic": "quarto/lampada",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "3386ebe01a87ac34",
        "type": "mqtt in",
        "z": "32e6db781b3172bb",
        "name": "",
        "topic": "quarto/interruptor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 220,
        "wires": [
            [
                "776a490b1046aee0"
            ]
        ]
    },
    {
        "id": "776a490b1046aee0",
        "type": "ui_switch",
        "z": "32e6db781b3172bb",
        "name": "",
        "label": "Quarto",
        "tooltip": "",
        "group": "01fd05c76ee02d9a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on_",
        "onvalueType": "str",
        "onicon": "mi-tips_and_updates",
        "oncolor": "yellow",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "mi-lightbulb",
        "offcolor": "gray",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 220,
        "wires": [
            [
                "37ee9f0bf9e2ef01"
            ]
        ]
    },
    {
        "id": "37ee9f0bf9e2ef01",
        "type": "change",
        "z": "32e6db781b3172bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "onOff",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "781172e4c9425c71"
            ]
        ]
    },
    {
        "id": "21807767ee384786",
        "type": "alexa-home",
        "z": "32e6db781b3172bb",
        "conf": "",
        "device": "199358",
        "acknoledge": true,
        "name": "",
        "topic": "",
        "x": 610,
        "y": 280,
        "wires": [
            [
                "37ee9f0bf9e2ef01"
            ]
        ]
    },
    {
        "id": "4bba5792f9d731f7",
        "type": "google-home",
        "z": "32e6db781b3172bb",
        "conf": "",
        "device": "29113",
        "acknowledge": false,
        "name": "",
        "topic": "",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "37ee9f0bf9e2ef01",
                "d76ea146a5dc43bf"
            ]
        ]
    },
    {
        "id": "d76ea146a5dc43bf",
        "type": "debug",
        "z": "32e6db781b3172bb",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.params",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "01fd05c76ee02d9a",
        "type": "ui_group",
        "name": "Quarto",
        "tab": "59c98a686574ce83",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59c98a686574ce83",
        "type": "ui_tab",
        "name": "Iluminação",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]